{% extends 'layout.html' %} 

{% block content %} 
<style>
    h1 {
        text-align: center;
        font-size: 50px;
        color: black;
    }
    table,th,td {
        border: 3px solid black;
        padding: 10px;
        width: 50%;
        border-style: inset;
        margin-left: auto;
        margin-right: auto;
    }
</style>
        <h1>{{day}}</h1>
<a href="/routines" style="text-decoration: none; color: black; position: relative; left: 1150px;">Home</a>
<div>
    <table>
        <tr>
            <th>Exercise</th>
            <th>Sets</th>
            <th>Reps</th>
        </tr>
        <tr>
                <td>{{data.exercise}}</td>
                <td>{{data.sets}}</td>
                <td>{{data.reps}}</td>
        </tr>
</div>
{% endblock %} 